.container {
  margin: 30px;
  background-color: var(--white);
  border-radius: 15px;
  padding: 20px;

  .heading {
    font-size: var(--text-size-xx-large);
    font-weight: bold;
  }

  .sub-heading {
    display: block;
    margin-bottom: 5px;
  }

  .default-button {
    background-color: var(--blue) !important;
    padding: 0 1rem;
    color: var(--white) !important;

    &--disabled {
      opacity: 0.7;
      pointer-events: none;
    }
  }

  .icons {
    position: relative;
    top: 5px;

    &-point {
      top: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .form-control {
    margin-right: 20px;
  }

  .user-initiate,
  .host-url,
  .experiment-partition,
  .assigned-condition,
  .refresh-conditions,
  .refresh-feature-flags,
  .interested-experiment-point {
    margin-bottom: 50px;

    .add-user-group,
    .add-partition {
      display: block;
      margin-bottom: 10px;
      background-color: transparent;
      border: 0;
      padding: 0;
      color: var(--blue);
      outline: 0;
      font-size: var(--text-size-x-small);

      &:hover {
        cursor: pointer;
      }
    }

    .remove-icon {
      &:hover {
        cursor: pointer;
      }
    }

    .group-name {
      display: block;
    }
  }

  .interested-experiment-point {
    &-view {
      display: flex;
      flex-direction: row;

      .interested-point-table {
        width: 500px;

        .mat-cell,
        .mat-header-cell {
          text-align: center;
          padding: 5px;
        }
      }
    }

    &-form {
      min-width: 425px;
      margin-right: 100px;
    }
  }

  .experiment-partition {
    &-view {
      display: flex;
      flex-direction: row;

      .experiment-point-table {
        flex-grow: 1;

        .mat-cell,
        .mat-header-cell {
          text-align: center;
          width: 33%;
          padding: 5px;
        }
      }
    }

    &-form {
      margin-right: 100px;
    }
  }

  .assigned-condition {
    &-view {
      .assigned-condition-table {
        width: 100%;

        .mat-cell,
        .mat-header-cell {
          text-align: center;
        }
      }

      .assigned-condition-zero-state {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;

        span {
          font-size: var(--text-size-xx-large);
        }
      }

      .mark-experiment-btn {
        margin-top: 15px;
      }
    }
  }

  .mark-experiment-view,
  .report-error-client,
  .logging-view {
    margin-bottom: 50px;
  }

  .feature-flags {
    margin-bottom: 50px;

    &-view {
      .feature-flags-table {
        width: 100%;

        .mat-cell,
        .mat-header-cell {
          width: 16%;
          padding: 5px;
        }

        .mat-column-no {
          text-align: center;
        }
      }

      .feature-flags-zero-state {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;

        span {
          font-size: var(--text-size-xx-large);
        }
      }
    }
  }

  .validation-message {
    display: block;
    color: var(--red);
    margin: 10px 10px 10px 0;
  }

  ::ng-deep .jsoneditor {
    margin-bottom: 20px !important;
    width: 500px !important;
  }

  ::ng-deep .jsoneditor-menu {
    display: none;
  }
}

