<div class="container">

  <!-- Set Host URL -->
  <div class="host-url">
    <span
      class="heading"
    >Set Host URL</span>
    <mat-icon
      [matTooltip]="getToolTipText(TooltipTextEnum.HOST_URL)"
      matTooltipClass="tooltip-pre-line"
      matTooltipPosition="above"
    >info</mat-icon>
    <div>
      <form [formGroup]="setHostURLForm">

        <mat-form-field class="form-control">
          <input
            matInput
            placeholder="Host URL"
            formControlName="hostUrl"
          />
        </mat-form-field>
        <button
          type="button"
          mat-raised-button
          class="default-button form-control"
          [ngClass]="{'default-button--disabled': !setHostURLForm.valid}"
          [disabled]="!setHostURLForm.valid"
          (click)="setHostUrl()"
        >
          Set URL
        </button>

      </form>
    </div>
  </div>

  <!-- For Initiating user -->
  <div class="user-initiate">
    <span
      class="heading"
    >Initialize User</span>
    <mat-icon
      [matTooltip]="getToolTipText(TooltipTextEnum.INITIATE_USER)"
      matTooltipClass="tooltip-pre-line"
      matTooltipPosition="above"
    >info</mat-icon>
    <div>
      <form [formGroup]="userInitiateForm">

        <mat-form-field class="form-control">
          <input
            matInput
            placeholder="User ID"
            formControlName="id"
          />
        </mat-form-field>
        <button
          type="button"
          mat-raised-button
          class="default-button form-control"
          [ngClass]="{'default-button--disabled': !userInitiateForm.valid}"
          [disabled]="!userInitiateForm.valid"
          (click)="initiateUser()"
        >
          Initiate User
        </button>

      </form>
    </div>
    <p *ngIf="selectedUser">{{ 'Current User : '+ selectedUser }}</p>
  </div>

  <!-- For Setting alternative User Ids -->
  <div class="user-initiate">
    <span
      class="heading"
    >Set Alternative User Ids</span>
    <mat-icon
      [matTooltip]="getToolTipText(TooltipTextEnum.ALT_USER_IDS)"
      matTooltipClass="tooltip-pre-line"
      matTooltipPosition="above"
    >info</mat-icon>
    <form class="experiment-partition-form" [formGroup]="altUserIdsForm">

      <div formArrayName="ids">
        <div *ngFor="let altId of altIdsInfo.controls; let index = index">
          <ng-container [formGroupName]="index">
            <mat-form-field class="form-control">
              <input
                matInput
                placeholder="Alternative User Id"
                formControlName="altId"
              />
            </mat-form-field>

            <mat-icon
              class="icons"
              (click)="removeAltUserId(index)"
            >delete</mat-icon>
          </ng-container>
        </div>
      </div>

      <button
        type="button"
        class="add-partition"
        (click)="addNewAltUserId()"
      >
        + Add Alternative User Id
      </button>

      <button
        mat-raised-button
        class="default-button form-control"
        [ngClass]="{'default-button--disabled': !altUserIdsForm.valid || !selectedUser || !altIdsInfo.controls.length}"
        [disabled]="!altUserIdsForm.valid || !selectedUser || !altIdsInfo.controls.length"
        (click)="setAltUserIds()"
      >
        Add Alternative Ids
      </button>

    </form>
  </div>

  <!-- Set Group Member ship -->
  <div class="user-initiate">
    <span
      class="heading"
    >
      Set Group Membership
    </span>
    <mat-icon
      [matTooltip]="getToolTipText(TooltipTextEnum.GRP_MEMBERSHIP)"
      matTooltipClass="tooltip-pre-line"
      matTooltipPosition="above"
    >info</mat-icon>
    <div style="margin-top: 33px;">
        <json-editor #groupMemberships [options]="optionsForSettingGroupMembership"></json-editor>
        <!-- <p class="validation-message" *ngIf="groupMemberShipError">{{ groupMemberShipError }}</p> -->
        <button
          mat-raised-button
          class="default-button form-control"
          [ngClass]="{'default-button--disabled': !selectedUser || hasSettingGroupMemberShipError}"
          [disabled]="!selectedUser || hasSettingGroupMemberShipError"
          (click)="setGroupMemberShip()"
        >
          Set Group Membership
        </button>
    </div>
  </div>

  <!-- Set Working Group -->
  <div class="user-initiate">
    <span
      class="heading"
    >Set Working Group</span>
    <mat-icon
      [matTooltip]="getToolTipText(TooltipTextEnum.WORKING_GRP)"
      matTooltipClass="tooltip-pre-line"
      matTooltipPosition="above"
    >info</mat-icon>
    <div style="margin-top: 33px;">
      <json-editor #workingGroups [options]="optionsForSettingWorkingGroup"></json-editor>
      <!-- <p class="validation-message" *ngIf="workingGroupError">{{ workingGroupError }}</p> -->
      <button
        mat-raised-button
        class="default-button form-control"
        [ngClass]="{'default-button--disabled': !selectedUser || hasSettingWorkingGroupError}"
        [disabled]="!selectedUser || hasSettingWorkingGroupError"
        (click)="setWorkingGroup()"
      >
        Set Working Group
      </button>
    </div>
  </div>

   <!-- For Experiment Partition Info -->
   <div class="experiment-partition">
    <p class="heading">Experiment Partition Information</p>
    <div class="experiment-partition-view">
      <form class="experiment-partition-form" [formGroup]="experimentPartitionForm">

        <div formArrayName="partitions">
          <div *ngFor="let group of partitionInfo.controls; let index = index">
            <ng-container [formGroupName]="index">
              <mat-form-field class="form-control">
                <input
                  matInput
                  placeholder="Experiment Point"
                  formControlName="partitionPoint"
                />
              </mat-form-field>

              <mat-form-field class="form-control">
                <input
                  matInput
                  placeholder="Partition Id"
                  formControlName="partitionName"
                />
              </mat-form-field>

              <mat-icon
                class="icons"
                (click)="removePartition(index)"
              >delete</mat-icon>
            </ng-container>
          </div>
        </div>

        <button
          type="button"
          class="add-partition"
          (click)="addNewPartition()"
        >
          + Add New Partition
        </button>

        <button
          mat-raised-button
          class="default-button form-control"
          [ngClass]="{'default-button--disabled': !experimentPartitionForm.valid}"
          [disabled]="!experimentPartitionForm.valid"
          (click)="savePartitionInfo()"
        >
          Add Partition
        </button>

      </form>

      <table
        *ngIf="listOfExperimentPoints.length"
        mat-table
        [dataSource]="listOfExperimentPoints"
        class="mat-elevation-z8 experiment-point-table"
      >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let index = index">{{ index + 1 }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="partitionName">
          <th mat-header-cell *matHeaderCellDef> Experiment Point </th>
          <td mat-cell *matCellDef="let element"> {{element.partitionPoint}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="partitionPoint">
          <th mat-header-cell *matHeaderCellDef> Partition ID </th>
          <td mat-cell *matCellDef="let element"> {{element.partitionName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="removePartition">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element; let index = index">
            <mat-icon
                class="icons"
                (click)="removePartitionFromSavedList(index)"
            >delete</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsPoints"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPoints;"></tr>
      </table>
    </div>
  </div>

  <!-- For Refreshing GetAllExperimentConditions -->
  <div class="refresh-conditions">
    <span
      class="heading"
    >Get All Experiment Conditions</span>
    <mat-icon
      [matTooltip]="getToolTipText(TooltipTextEnum.GET_ALL_CONDITIONS)"
      matTooltipClass="tooltip-pre-line"
      matTooltipPosition="above"
    >info</mat-icon>
    <form [formGroup]="getAllExperimentConditionsForm">

      <mat-form-field class="form-control">
        <input
          matInput
          placeholder="context"
          formControlName="context"
        />
      </mat-form-field>
      <button
        mat-raised-button
        class="default-button form-control mark-experiment-btn"
        [ngClass]="{'default-button--disabled': !selectedUser || !getAllExperimentConditionsForm.valid}"
        [disabled]="!selectedUser || !getAllExperimentConditionsForm.valid"
        (click)="getAllExperimentConditions()"
      >
        GetAllExperimentConditions
      </button>
    </form>
  </div>

  <!-- For Assigned Condition -->
  <div class="assigned-condition">
    <p class="heading">Assigned Condition</p>
    <div class="assigned-condition-view">
      <table
        *ngIf="assignedConditions.length; else noExperimentForMark"
        mat-table
        [dataSource]="assignedConditions"
        class="mat-elevation-z8 assigned-condition-table"
      >

        <!-- Position Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let index = index">{{ index + 1 }}</td>
        </ng-container>

        <!-- Point Column -->
        <ng-container matColumnDef="point">
          <th mat-header-cell *matHeaderCellDef> Experiment Point </th>
          <td mat-cell *matCellDef="let element"> {{ element.expPoint }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Partition ID </th>
          <td mat-cell *matCellDef="let element"> {{ element.expId }} </td>
        </ng-container>

        <!-- Condition Code Column -->
        <ng-container matColumnDef="conditionCode">
          <th mat-header-cell *matHeaderCellDef> Condition Code </th>
          <td mat-cell *matCellDef="let element"> {{ element.assignedCondition?.conditionCode }} </td>
        </ng-container>

        <!-- Condition Weight Column -->
        <ng-container matColumnDef="assignmentWeight">
          <th mat-header-cell *matHeaderCellDef> Condition Weight </th>
          <td mat-cell *matCellDef="let element"> {{ element.assignedCondition?.assignmentWeight }} </td>
        </ng-container>

        <!-- Condition Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Condition Description </th>
          <td mat-cell *matCellDef="let element"> {{ element.assignedCondition?.description }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnMarkExperiment"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnMarkExperiment;"></tr>
      </table>
      <ng-template #noExperimentForMark>
        <div class="assigned-condition-zero-state">
          <span>No Conditions assigned</span>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- For Mark Experiment -->
  <span
    class="heading"
  >Mark Experiment</span>
  <mat-icon
    [matTooltip]="getToolTipText(TooltipTextEnum.MARK_EXPERIMENT)"
    matTooltipClass="tooltip-pre-line"
    matTooltipPosition="above"
  >info</mat-icon>
  <div class="mark-experiment-view">

    <form [formGroup]="markExperimentForm">
      <mat-form-field class="form-control">
        <input
          matInput
          placeholder="Experiment Point"
          aria-label="Experiment Point"
          [matAutocomplete]="markExperimentPoint"
          formControlName="markExperimentPoint"
        >
        <mat-autocomplete #markExperimentPoint="matAutocomplete">
          <mat-option *ngFor="let partition of (filterMarkExperimentPoints$ | async)" [value]="partition.partitionPoint">
            <span>{{ partition.partitionPoint }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="form-control">
        <input
          matInput
          placeholder="Partition Id"
          aria-label="Partition Id"
          [matAutocomplete]="markExperimentName"
          formControlName="markExperimentName"
        >
        <mat-autocomplete #markExperimentName="matAutocomplete">
          <ng-container *ngFor="let partition of (filterMarkExperimentNames$ | async)">
            <mat-option *ngIf="partition.partitionName" [value]="partition.partitionName">
              <span>{{ partition.partitionName }}</span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>

    </form>

    <button
      mat-raised-button
      class="default-button form-control mark-experiment-btn"
      [ngClass]="{'default-button--disabled': !markExperimentForm.valid || !selectedUser}"
      [disabled]="!markExperimentForm.valid || !selectedUser"
      (click)="markExperiment()"
    >
      Mark Experiment
    </button>
  </div>

  <!-- For Failed Experiment Point -->
  <span
    class="heading"
  >Report Error from Client</span>
  <mat-icon
    [matTooltip]="getToolTipText(TooltipTextEnum.REPORT_ERROR)"
    matTooltipClass="tooltip-pre-line"
    matTooltipPosition="above"
  >info</mat-icon>
  <div class="report-error-client">
    <form [formGroup]="failedExperimentPointForm">
      <mat-form-field class="form-control">
        <input
          matInput
          placeholder="Experiment Point"
          formControlName="experimentPoint"
        >
      </mat-form-field>

      <mat-form-field class="form-control">
        <input
          matInput
          placeholder="Reason"
          formControlName="reason"
        >
      </mat-form-field>

      <mat-form-field class="form-control">
        <input
          matInput
          placeholder="Partition Id"
          formControlName="partitionId"
        >
      </mat-form-field>
    </form>

    <button
      mat-raised-button
      class="default-button form-control mark-experiment-btn"
      [ngClass]="{'default-button--disabled': !failedExperimentPointForm.valid || !selectedUser}"
      [disabled]="!failedExperimentPointForm.valid || !selectedUser"
      (click)="reportError()"
    >
      Report Error
    </button>
  </div>

  <!-- For Logging -->
  <span
    class="heading"
  >Logging</span>
  <mat-icon
    [matTooltip]="getToolTipText(TooltipTextEnum.LOGGING)"
    matTooltipClass="tooltip-pre-line"
    matTooltipPosition="above"
  >info</mat-icon>
  <div class="logging-view">

    <form [formGroup]="logForm">
      <mat-form-field class="form-control">
        <input
          matInput
          placeholder="Key"
          formControlName="key"
        >
      </mat-form-field>

      <mat-form-field class="form-control">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option [value]="'string'">String</mat-option>
          <mat-option [value]="'number'">Number</mat-option>
          <mat-option [value]="'json'">JSON</mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container [ngSwitch]="logForm.get('type').value">
        <ng-container *ngSwitchCase="'string'">
          <mat-form-field class="form-control">
            <input
              matInput
              placeholder="Value"
              formControlName="value"
            >
          </mat-form-field>
        </ng-container>
        <ng-container *ngSwitchCase="'number'">
          <mat-form-field class="form-control">
            <input
              type="number"
              matInput
              placeholder="Value"
              formControlName="value"
            >
          </mat-form-field>
        </ng-container>
        <ng-container *ngSwitchCase="'json'">
          <json-editor
            #logJsonEditor
            [options]="optionsForLog"
          ></json-editor>
        </ng-container>
      </ng-container>
    </form>

    <button
      mat-raised-button
      class="default-button form-control mark-experiment-btn"
      [ngClass]="{'default-button--disabled': !logForm.valid || !selectedUser}"
      [disabled]="!logForm.valid || !selectedUser"
      (click)="log()"
    >
      Log
    </button>
  </div>

  <!-- For Add Metrics -->
  <span
    class="heading"
  >Add Metrics</span>
  <mat-icon
    [matTooltip]="getToolTipText(TooltipTextEnum.METRICS)"
    matTooltipClass="tooltip-pre-line"
    matTooltipPosition="above"
  >info</mat-icon>
  <div style="margin-top: 33px" class="logging-view">

    <json-editor
      #metricsJsonEditor
      [options]="optionsForMetrics"
    ></json-editor>

    <button
      mat-raised-button
      class="default-button form-control mark-experiment-btn"
      [ngClass]="{'default-button--disabled': !selectedUser || hasOptionsForMetricsError}"
      [disabled]="!selectedUser || hasOptionsForMetricsError"
      (click)="addMetrics()"
    >
      Add Metrics
    </button>
  </div>

  <!-- For Refreshing Get All Feature Flags -->
  <div class="refresh-feature-flags">
    <div style="margin-bottom: 10px;">
      <span
        class="heading"
      >Get All Feature Flags</span>
      <mat-icon
        [matTooltip]="getToolTipText(TooltipTextEnum.FEATURE_FLAG)"
        matTooltipClass="tooltip-pre-line"
        matTooltipPosition="above"
      >info</mat-icon>
    </div>
    <button
      mat-raised-button
      class="default-button form-control mark-experiment-btn"
      [ngClass]="{'default-button--disabled': !selectedUser}"
      [disabled]="!selectedUser"
      (click)="getAllFeatureFlags()"
    >
      GetAllFeatureFlags
    </button>
  </div>

  <!-- For Feature Flags table -->
  <div class="feature-flags">
    <p class="heading">Feature Flag List</p>
    <div class="feature-flags-view">
      <table
        *ngIf="featureFlagList.length; else noFeatureFlagTemplate"
        mat-table
        [dataSource]="featureFlagList"
        class="mat-elevation-z8 feature-flags-table"
      >

        <!-- Position Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let index = index">{{ index + 1 }}</td>
        </ng-container>

        <!-- Point Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef> Key </th>
          <td mat-cell *matCellDef="let element"> {{ element.key }} </td>
        </ng-container>

        <!-- Condition Code Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{ element.variationType }} </td>
        </ng-container>

        <!-- Condition Code Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
        </ng-container>

        <!-- Condition Weight Column -->
        <ng-container matColumnDef="activeVariation">
          <th mat-header-cell *matHeaderCellDef> Active Variation </th>
          <td mat-cell *matCellDef="let element"> {{ getActiveVariation(element) }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnFeatureFlags"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnFeatureFlags;"></tr>
      </table>
      <ng-template #noFeatureFlagTemplate>
        <div class="feature-flags-zero-state">
          <span>No Feature Flags</span>
        </div>
      </ng-template>
    </div>
  </div>

</div>
