<div class="container">
  <!-- For Initiating user -->
  <div class="user-initiate">
    <p class="heading">Initiate User</p>
    <div>
      <form [formGroup]="userInitiateForm">

        <mat-form-field class="form-control">
          <input
            matInput
            placeholder="Enter User ID"
            formControlName="id"
          />
        </mat-form-field>

        <div formArrayName="userGroups">
          <div *ngFor="let group of userGroups.controls; let index = index">
            <ng-container [formGroupName]="index">
              <mat-form-field class="form-control">
                <mat-label>Group Type</mat-label>
                <mat-select formControlName="groupType">
                  <mat-option
                    *ngFor="let groupType of groupList[index]"
                    [value]="groupType.value"
                  >
                    {{ groupType.value | titlecase }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field
                class="form-control"
                *ngIf="groupTypeValue(index)"
              >
                <input
                  matInput
                  placeholder="Enter Group Name"
                  formControlName="customGroupName"
                />
              </mat-form-field>

              <mat-form-field class="form-control">
                <input
                  matInput
                  placeholder="Group ID"
                  formControlName="groupId"
                />
              </mat-form-field>

              <mat-icon
                *ngIf="index !== 0"
                class="icons"
                (click)="removeUserGroup(index)"
              >delete</mat-icon>
            </ng-container>
          </div>
        </div>

        <span class="validation-message" *ngIf="userInitiateForm.hasError('customGroupNameError')">
          Custom Group Names should not same
        </span>

        <button
          type="button"
          class="add-user-group"
          (click)="addNewUserGroup()"
        >
          + Add New Group
        </button>

        <button
          mat-raised-button
          class="default-button form-control"
          [ngClass]="{'default-button--disabled': !userInitiateForm.valid}"
          [disabled]="!userInitiateForm.valid"
          (click)="initiateUser()"
        >
          Initiate User
        </button>

      </form>
    </div>
    <p *ngIf="selectedUser">{{ 'Current User : '+ selectedUser?.id }}</p>
  </div>
</div>
